
body {
  width: 80%;
  margin: auto;

}

nav {
  background-color: #004d4d;
  color: white; 
  font-family: "Overlock", cursive;
  font-size: 40px;
  height: 75px;
  width: 80%;
  position: fixed;
  top:0px;
}
ul#menu {
  width: 100%;
  margin: 0;
  padding-top:20px ;
  text-align: center;
}

nav ul li{
  display: inline-block;
  float: center;
  width: 20%;
}
ul#menu li a {
  text-decoration: none;
  color: white;

}

ul#social {
  width:80%;
  height:50px;
  list-style: none;
  margin:0;
  padding:20px, 0px, 0px, 20%;
}

ul#social li {
  display: inline-block;
}

#wonder {
  width: 100%;
  height: 110%;
  margin-top: 75px;
}

#sisters {
  width:100%;
  height:90%;
}

#hobbies {
  margin-top:20px;
  width:100%;

}

#where{
  background-repeat: no-repeat;
  background-image: url();
  background-size: cover;
  background-position: top;
  height:350px;
}

.poem {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 18px;
  background-color: #004d4d;
  color: white;
  float: left;
  width: 30%;
  padding-left:15px;

}

.poem2 {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 18px;
  background-color: #004d4d;
  color: white;
  float: right;
  width: 30%;
  padding-left:15px;

}

.gif {
  float: left;
}

.gif1 {
  float: right;
}

.container {
  margin:0;
  width: 100%;
  display: block;
}

.section {
  float: right;
  font-family: "Overlock", cursive;
  font-size: 20px;
  width: 67%;
  margin: auto 0;
  height: relative;
  padding:0, 15px, 0, 15px;
  text-align: justify;
 
}
.section2 {
  float: left;
  font-family: "Overlock", cursive;
  font-size: 20px;
  width: 67%;
  margin: auto 0;
  height: relative;
  padding:0, 15px, 0, 15px;
  text-align: justify;
}

.section3 {
  float: left;
  font-family: "Overlock", cursive;
  font-size: 20px;
  width: 60%;
  margin: auto 0;
  height: relative;
  padding:0, 15px, 0, 15px;
  text-align: justify;
}

.poem h5 {
  font-size: 16px;
}



.author {
  margin-left: 45px;
  font-size: 16px;
}


.banner{
  margin:0;
}



h2 {
  font-family: "Overlock", cursive;
  font-size: 30px;
}

.text {
  display: none;
  position: absolute;
  top: 40px;
  text-align: center;
  width: 100%;
  height: 100%;
}

.text p {
  color: #fff;
  margin: 10px;
  font-size: 35px;
}

.shadow {
  width:250px;
  height:180px;
}

.icon {
  width:60px;
  height:60px;
}
